form.signup,
form.login {
  margin-top: 50px;
}

form{
  margin: 10px
}

.jumbotron{
  background-color: #43B187;
  color: #ffe27c;
}

#main-icon{
  color: red
}

#myChart{
  margin: auto;
}

#nutrients-component{
  font-weight: 700;
}

#databaseSearch{
  margin-top: 30px;
}


.navbar{
}

.tbl{
  font-size: 20px;
}

th :not(.thead-avoid) {
  color: #43B187;
}

td, th :not(.thead-avoid) {
  text-align: center;
  height: 60px;
}

tr:hover {background-color: #f5f5f5;}


.greeting {
  margin: 40px
}

select{
  margin-left: 5px;
  font-size: larger;
}

label{
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 15px
}

body {
  background-color: rgb(210, 210, 210, .20);
}

