form.signup, form.login {
  margin-top: 50px;
}

form {
  margin: 10px
}

.jumbotron{
  background-color: transparent;
  padding: 0px;
  margin-bottom: 0px;
/* background-image: url("/img/background-img.png");
background-size: 400px 200px;
background-repeat: repeat; */
border: 0px
}

.backdrop{
  background-color: #f8f5f2;
background-image: url("/img/background-img.png");
background-size: 400px 200px;
background-repeat: repeat;
}



#main-icon {
  color: red
}

#myChart {
  margin: auto;
}

#nutrients-component {
  font-weight: 700;
}

#databaseSearch {
  margin-top: 30px;
}

/* Nav bar shadow */

.navbar {
  border-radius: 0px;
  box-shadow: 14px 14px 29px #bfbfbf, -14px -14px 29px #ffffff;
}

.nav-link {
  font-size: 15px
}

.btn {
  border-radius: 20px
}

.tbl {
  font-size: 20px;
}

th :not(.thead-avoid) {
  color: #43B187;
}

td, th :not(.thead-avoid) {
  height: 60px;
}

td, th, .alert {
  font-size: 20px
}

tr:hover {
  background-color: #f5f5f5;
}

.greeting {
  margin: 40px;
  font-weight: bold;
  font-size: 100px
}

select {
  font-size: larger;
  border: none
}

label {
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 15px
}

label {
  font-size: 20px
}

.form-control-lg {
  border-radius: 20px
}

input, select {
  margin-bottom: 10px;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}

input {
  border: none
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.hidden {
  display: none;
}

.modal-backdrop {
  z-index: 0;
}

.padding {
  margin-left: 10px
}

#foot, #inch {
  margin-left: 0px
}

body {
  color: #232323;
  background-color: #f8f5f2;
}

.module {
  border-radius: 23px;
  background: #078080;
  box-shadow: 33px 33px 66px #056060, -33px -33px 66px #09a0a0;
}

.login-box, .table-delete {
  border-radius: 50px;
  background: #f8f5f2;
  box-shadow:  9px 9px 9px #d3d0ce, 
               -9px -9px 9px #ffffff;
}

.login-label{
  margin-top: 40px
}
.custom-shape-divider-bottom-1600992787 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 54px;
}

.custom-shape-divider-bottom-1600992787 .shape-fill {
  fill: #078080;
}

.tester {
  background-color: #078080;
}

#top-member {
  /* padding-bottom: 20px */
}

#bottom-member {
  background-color: #078080;
  padding: 40px
}

/* Vertical column spacing */

.row.row-grid [class*="col-"]+[class*="col-"] {
  margin-top: 100px;
}

@media (min-width: 1200px) {
  .row.row-grid [class*="col-lg-"]+[class*="col-lg-"] {
    margin-top: 0;
  }
}

@media (min-width: 992px) {
  .row.row-grid [class*="col-md-"]+[class*="col-md-"] {
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .row.row-grid [class*="col-sm-"]+[class*="col-sm-"] {
    margin-top: 0;
  }
}

/* end of vertical align spacing */